*.class
*.swp

# Package Files #
*.jar
*.war
*.ear
/target
/.settings/
/.classpath
/.project
/.externalToolBuilders

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

node_modules

npm-debug.log

/static/public
